

body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    background-color: crimson;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    width:100%;
    height:60px;
    font-size:1.4em;
    display:flex;
    align-items:center;
    justify-content:center;
    position: sticky; top: 0;
    border: rgb(172, 16, 47) solid 3px;
}



h1 {
    font-size: 30px;
    line-height: 1.5;
    font-family: "Lobster", 'Times New Roman', Times, serif;
}

h2 {
    font-size: 27px;
    letter-spacing: 1px;
    font-family: "Avro", Georgia, 'Times New Roman', Times, serif;
    /*border-bottom: solid 1px rgb(0, 110, 101);*/
}

p {
    font-size: 16px;
}

/* Containers */
.container {
    /*border: 2px solid gray;*/
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    margin: 50px 60px;
    background-color: #F5EAE7;
}

.container-header {
    text-align: center;
    line-height: .5;
    padding-top: 10px;
    margin-bottom: 35px;
    border-bottom: crimson 2px dotted;
}

.container-header, h2 {
    font-weight: bold;
}

.container-header, h3 {
    font-weight: lighter;
}

/* Color Boxes */

.color-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.color-box {
    /*box-sizing: content-box;*/
    /*border: solid black 3px;*/
    background-color: white;
    box-shadow: 3px 6px #300a38;
    border: #190225 solid 2px; 
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 300px;
    height: 75px;
    margin: auto;
    line-height: 0.4;
    margin-top: 7px;
    margin-bottom: 7px;
}

.color-hex {
    font-weight: lighter;
    font-size: 24px;
}

.color-name {
    font-weight: bold;
    font-size: 13px;
}

.color-box:hover .color-hex {
    font-weight: bold;
}
.color-box:hover .color-name {
    font-size: 20px;
}

/* Font Boxes */

.font-board {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.font-card {
    text-align: center;
    padding: 18px;
    border: solid black 3px;
    width: inherit;
    max-width: 500px;
    box-shadow: 3px 6px #300a38;
    background-color: #F7F6F4;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.font-name {
    font-size: 24px;
    text-decoration-line: underline;
    line-height: normal;
    margin: auto;
}

/* Style list */

.stylelist {
    text-align: center;
}